* {
    margin: 0px;
    padding: 0px;
    color: #000000;
    font-family: gilroy,  arial,  helvetica neue,  sans-serif;
}

a {
    /* color: white; */
    text-decoration: none;

}

p {
    font-size: 25px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    text-align: center;
}

/* App advertisment */
.applink{
    height: 40vh;
    width:100%;
    border: 1px solid black;
    background-color: #000000;

}
#element{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30vw;
}
.text>h1{
    color: white;
    font-family: gilroy,  arial,  helvetica neue,  sans-serif;
}
#element>.picture{
    height: 39vh;
    width: 25vw;
    display: flex;
    justify-content: end;
    align-items: end;
}
#qrpic{
    height: 80%;
    width: 100%;
}
.text>P{
    font-size: 1em;
    padding-top: 20px;
    text-align: left;
    color: rgb(188, 177, 177);
}
/* location and other info */
.location{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    border: 1px solid black;
}
#location-heading{
    width: 90%;
    height: 5vw;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
#headingtext{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;

}
#headingtext::before,#headingtext::after {
      content: "";
      flex: 1;
      border-top: 2px solid #FF5200; /* line color */
      margin: 0 15px;    
      width: 50px;          /* spacing between text and line */
    }
#headingtext span {
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
}

#element2{
    height: 100%;
    width: 80%;
    padding-left: 108px;
}
#text2>p{
    margin-top: 10px;
    font-size: medium;
    color: rgb(151, 148, 148);
    text-align: left;
}
#righttext{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    gap: 14vw;
}
#map{
    height: 300px;
    width: 26vw;
    display: flex;
    justify-content: right;
}
button {

    border-color: white;
    font: bold;
    font-size:1em;
    border-radius: 9px;
    height: 9vh;
    width: 15vw;
    border: 1px solid black;
}
#i,
#ii {

    cursor: pointer;
}

.order {
    color: #000000;
    p{
    /* font-size: medium;  */
    text-align: left; 
    padding-left: 16vw;
    }
}

#ad {
    height: 25vh;
    width: 100%;
}

#footerlinks {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 55vh;
}

.links {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    /* border: 2px solid black; */
    text-align: left;
    display: flex;
    justify-content: center;


}
.connectionsofp {
    font-size: 1em;
    color: rgb(59, 57, 57);
    text-align: left;
    display: block;
}

.connections {
    width: 12vw;
    height: 100%;
    /* border: 1px solid black; */
    padding-top: 5vh;

    
}

#brandname{
    width:20vw;
    text-align: left;
    padding-top:5vh;
    height: 100%;
    p{
      font-size: medium; 
      text-align: left; 
    }
}

.playstore {
    height: 17vh;
    width: 100%;
    padding: 2vh;
    font-size: 1.2em;
    color: rgb(59, 57, 57);
    display: flex;
    justify-content: center;
    gap: 1vw;
    align-items: center;
}


/* this part for show more */
.hide{
    cursor: pointer;
    transition: all 0.3 ease;
    text-decoration: none;
    display: block;
}
.show-more{
    border-color: white;
    font: bold;
    cursor: pointer;
    transition: all 0.3 ease;
    display: block;
    border-radius: 9px;
    height: 60px;
    width: 165px;
    border: 1px solid black;
}
.show-more:hover{
    transform: translateY(-2px);
}
.show-more:active {
    transform: translateY(0);
}
.show-more::after{
    content: 'Show More';
}
.hidden-button{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    display: flex;
    /* flex-direction:column ; */
    /* justify-content: center; */
    gap: 15px;
}
#check:checked ~ .hidden-button{
    max-height: 50vh;
    opacity: 1;
    margin-top: 2vh;
}
.show-more::after{
    content: 'Show Less';
}
#check:checked ~ label.show-more::after{
    content: 'Show Less';
}
/* this part for social links */
.Social-Links{
    font-weight: 300;
    font-size: larger;
}
.cites{
    height: 3vh;
    width: 8vw;
    border: 1px solid black;
}
#cities{
    border: none;
    border: 1px solid black;   
}
.copyright{
    text-decoration: none;
    font-size: 1em;
    color: gray;
}
.sudhuline{
    height: 1px;
    width: 90%;
    margin: 0 auto;
    background-color: gray;
}
.nichta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button{
    border-radius: 9px;
    height: 9vh;
    width: 15vw;
}