* {
    margin: 0px;
    padding: 0px;
    color: #000000;
    font-family: gilroy,  arial,  helvetica neue,  sans-serif;
}

a {
    /* color: white; */
    text-decoration: none;

}

p {
    font-size: 25px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    text-align: center;
}

#d2,
#d3 {
    background-color: #000000;
}

button {
    background-color: white;
    border-color: rgb(255, 252, 252);
    font: bold;
    font-size:1em;
    border-radius: 9px;
    height: 9vh;
    width: 15vw;
    border: 1px solid black;
}
.showmore{
    font-family: gilroy,  arial,  helvetica neue,  sans-serif;
    color: orangered;
}
.o1 {
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#i,
#ii {

    cursor: pointer;
}

.order {
    color: #000000;
    p{
    /* font-size: medium;  */
    text-align: left; 
    padding-left: 16vw;
    }
}

#ad {
    height: 25vh;
    width: 100%;
}

#footerlinks {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 55vh;
}

.links {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    /* border: 2px solid black; */
    text-align: left;
    display: flex;
    justify-content: center;


}
.connectionsofp {
    font-size: 1em;
    color: rgb(59, 57, 57);
    text-align: left;
    display: block;
}

.connections {
    width: 12vw;
    height: 100%;
    /* border: 1px solid black; */
    padding-top: 5vh;

    
}

#brandname{
    width:20vw;
    text-align: left;
    padding-top:5vh;
    height: 100%;
    p{
      font-size: medium; 
      text-align: left; 
    }
}

.playstore {
    height: 17vh;
    width: 100%;
    padding: 2vh;
    font-size: 1.2em;
    color: rgb(59, 57, 57);
    display: flex;
    justify-content: center;
    gap: 1vw;
    align-items: center;
}


/* this part for show more */
.hide{
    cursor: pointer;
    transition: all 0.3 ease;
    text-decoration: none;
    display: block;
}
.show-more{
    border-color: white;
    font: bold;
    cursor: pointer;
    transition: all 0.3 ease;
    display: block;
    border-radius: 9px;
    height: 60px;
    width: 165px;
    border: 1px solid black;
}
.show-more:hover{
    transform: translateY(-2px);
}
.show-more:active {
    transform: translateY(0);
}
.show-more::after{
    content: 'Show More';
}
.hidden-button{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    display: flex;
    /* flex-direction:column ; */
    /* justify-content: center; */
    gap: 15px;
}
#check:checked ~ .hidden-button{
    max-height: 50vh;
    opacity: 1;
    margin-top: 2vh;
}
.show-more::after{
    content: 'Show Less';
}
#check:checked ~ label.show-more::after{
    content: 'Show Less';
}
/* this part for social links */
.Social-Links{
    font-weight: 300;
    font-size: larger;
}
.cites{
    height: 3vh;
    width: 8vw;
    border: 1px solid black;
}
#cities{
    border: none;
    border: 1px solid black;   
}
.copyright{
    text-decoration: none;
    font-size: 1em;
    color: gray;
}
.sudhuline{
    height: 1px;
    width: 90%;
    margin: 0 auto;
    background-color: gray;
}
.nichta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button{
    border-radius: 9px;
    height: 9vh;
    width: 15vw;
}